<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>[ -e libunis-c ] || git clone https://github.com/periscope-ps/libunis-c.git
[ -e toolkit ] || git clone https://github.com/datalogistics/toolkit.git
[ -e ibp_server ] || git clone https://github.com/datalogistics/ibp_server.git

[ -e jenkins-publish-rpm.sh ] || curl -o jenkins-publish-rpm.sh https://github.com/spohnan/jenkins-rpm-publish/raw/master/SOURCES/jenkins-rpm-publish/usr/local/bin/jenkins-publish-rpm.sh

mkdir -p BUILD RPMS SOURCES SPECS SRPMS
rm -rf SRPMS/*
tar -cvzf SOURCES/ibp_server.tar.gz ibp_server
tar -cvzf SOURCES/libunis-c.tar.gz libunis-c

rpmbuild \
    --define &quot;_topdir `pwd`&quot; \
    --define &quot;release `date +%Y%m%d%H%M%S`&quot; \
    -bs /vagrant_data/RPM/*.spec

sudo yum install -y `grep BuildRequires RPM/* | awk &apos;{ $1=&quot;&quot;; print }&apos; | xargs echo `

RPM_VERSIONS_TO_KEEP=3
RPM_REPO_BASE=/var/www/html/repos/centos/6/custom
RPM_NAME=jenkins-rpm-publish-*.rpm</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>