<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>[ -e libunis-c ] || git clone https://github.com/periscope-ps/libunis-c.git
[ -e toolkit ] || git clone https://github.com/datalogistics/toolkit.git
[ -e jenkins-build-rpm.sh ] || curl -o jenkins-build-rpm.sh https://github.com/spohnan/jenkins-rpm-build/raw/master/SOURCES/jenkins-rpm-build/usr/local/bin/jenkins-build-rpm.sh
[ -e jenkins-publish-rpm.sh ] || curl -o jenkins-publish-rpm.sh https://github.com/spohnan/jenkins-rpm-publish/raw/master/SOURCES/jenkins-rpm-publish/usr/local/bin/jenkins-publish-rpm.sh

cd libunis-c
[ -e Makefile ] &amp;amp;&amp;amp; make clean
rm -f Makefile
./configure --prefix=`pwd`/../local
make
make install
cd ..


RPM_VERSIONS_TO_KEEP=3
RPM_REPO_BASE=/var/www/html/repos/centos/6/custom
RPM_NAME=jenkins-rpm-publish-*.rpm</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>