<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.30">
      <project>build-all</project>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
        <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>sudo yum install createrepo
createrepo $(pwd)
sudo bash -c &apos;cat &lt;&lt; EOF &gt; /etc/yum.repos.d/dlt.repo
[customrepo]
name=Custom Repository
baseurl=file://$(pwd)
enabled=1
gpgcheck=0
EOF&apos;
sudo yum install -y dlt
sudo chkconfig ibp-server on
sudo service ibp-server start
if [[ $? -eq 0 ]]; then
    echo &quot;There should be no RIDs in IBP.cfg&quot;
    exit 1
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>